In [245]:
import pandas as pd
df=pd.read_csv('../data/municipios.csv', sep=',',header=0)
df.head()

,i_no_value,i_value,i_ste_cde,i_yr,i_ttl_ing_eje_1,i_ttl_ing_eje_2,i_ttl_ing_eje_3,i_ttl_ing_eje_4,i_ttl_ing_eje_5,i_ttl_ing_eje_6,i_ttl_ing_eje_7,i_ttl_ind_ing,i_ttl_ind,r_tsa_ind_ing,i_eje_id,i_ttl_ind.1
0,1,1,1701010001,2021,4,15,5,2,9,1,1,37,66,56.06,5,9
1,2,2,1701010001,2022,14,12,7,3,1,4,4,45,66,68.18,2,17
2,3,1,1701010001,2022,11,6,3,3,6,4,3,36,66,54.55,5,9
3,4,2,1701010001,2022,14,11,4,3,2,4,3,41,66,62.12,7,4
4,5,1,1701010001,2022,19,3,1,1,5,4,4,37,66,56.06,4,3

In [246]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132731 entries, 0 to 132730
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   i_no_value       132731 non-null  int64
 1   i_value          132731 non-null  int64
 2   i_ste_cde        132731 non-null  int64
 3   i_yr             132731 non-null  int64
 4   i_ttl_ing_eje_1  132731 non-null  int64
 5   i_ttl_ing_eje_2  132731 non-null  int64
 6   i_ttl_ing_eje_3  132731 non-null  int64
 7   i_ttl_ing_eje_4  132731 non-null  int64
 8   i_ttl_ing_eje_5  132731 non-null  int64
 9   i_ttl_ing_eje_6  132731 non-null  int64
 10  i_ttl_ing_eje_7  132731 non-null  int64
 11  i_ttl_ind_ing    132731 non-null  int64
 12  i_ttl_ind        132731 non-null  int64
 13  r_tsa_ind_ing    132731 non-null  float64
 14  i_eje_id         132731 non-null  int64
 15  i_ttl_ind.1      132731 non-null  int64
dtypes: float64(1), int64(15)
memory usage: 16.2 MB

In [247]:
print('Dataset shape ::', df.shape)

Dataset shape :: (132731, 16)

In [248]:
# Filtrando por sitio
vSitio=1701010001
df = df[(df['i_ste_cde'] == vSitio)]
print('Dataset shape ::', df.shape)

Dataset shape :: (20000, 16)

In [249]:
df.columns

Index(['i_no_value', 'i_value', 'i_ste_cde', 'i_yr', 'i_ttl_ing_eje_1',
       'i_ttl_ing_eje_2', 'i_ttl_ing_eje_3', 'i_ttl_ing_eje_4',
       'i_ttl_ing_eje_5', 'i_ttl_ing_eje_6', 'i_ttl_ing_eje_7',
       'i_ttl_ind_ing', 'i_ttl_ind', 'r_tsa_ind_ing', 'i_eje_id',
       'i_ttl_ind.1'],
      dtype='object')

In [250]:
# Variables Predictoras
X=df.iloc[:,3:11]
X.head()

,i_yr,i_ttl_ing_eje_1,i_ttl_ing_eje_2,i_ttl_ing_eje_3,i_ttl_ing_eje_4,i_ttl_ing_eje_5,i_ttl_ing_eje_6,i_ttl_ing_eje_7
0,2021,4,15,5,2,9,1,1
1,2022,14,12,7,3,1,4,4
2,2022,11,6,3,3,6,4,3
3,2022,14,11,4,3,2,4,3
4,2022,19,3,1,1,5,4,4

In [251]:
Y=df.iloc[:,1]
Y.head()

0    1
1    2
2    1
3    2
4    1
Name: i_value, dtype: int64

In [253]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.75, random_state = 0)

# Llamar al constructor del arbol de decision 
tree = DecisionTreeClassifier()

# Entrenamos el modelo
tree_site = tree.fit(X_train, Y_train)

print(tree_site)

DecisionTreeClassifier()

In [254]:
Y_pred=tree_site.predict(X_test)
print(Y_pred)

[2 2 2 ... 1 1 0]

In [255]:
from sklearn.metrics import confusion_matrix
matrix_confution=confusion_matrix(Y_test,Y_pred)
print(confusion_matrix(Y_test,Y_pred))

[[ 539  216    0    0]
 [ 236 7260  609    0]
 [   0  747 5193   75]
 [   0    0   58   67]]

In [256]:
import numpy as np 
global_precition = np.sum(matrix_confution.diagonal())/np.sum(matrix_confution)
print(global_precition)

0.8706

In [257]:
global_precition_class_0 = ((matrix_confution[0,0]))/sum(matrix_confution[0,])
print(global_precition_class_0)

0.713907284768212

In [258]:
global_precition_class_1 = ((matrix_confution[1,1]))/sum(matrix_confution[1,])
print(global_precition_class_1)

0.8957433682911783

In [259]:
global_precition_class_2 = ((matrix_confution[2,2]))/sum(matrix_confution[2,])
print(global_precition_class_2)

0.8633416458852868

In [260]:
global_precition_class_3 = ((matrix_confution[3,3]))/sum(matrix_confution[3,])
print(global_precition_class_3)

0.536

In [261]:
class Category:
    def __init__(self, sitio,color,texto,option, value):
        self.sitio = sitio
        self.color = color
        self.texto = texto
        self.option = option
        self.value = value

list_values = [
    Category(vSitio,'Gris','NO CALIFICADO',0, global_precition_class_0),
    Category(vSitio,'Rojo','INICIANDO',1, global_precition_class_1),
    Category(vSitio,'Amarillo','SATISFACTORIO',2, global_precition_class_2),
    Category(vSitio,'Verde','OPTIMO',3, global_precition_class_3)
]

max_class = max(list_values, key=lambda category: category.value)
print("El sitio {} es/esta {} en evaluación para considerar visitar: [{}]".format(max_class.sitio,max_class.texto,max_class.color))

El sitio 1701010001 es/esta INICIANDO para considerar visitar: [Rojo]